<div>
  <link href="./place-card.css" rel="stylesheet" />
  <div class="place-card-container">
    <img
      alt="image"
      src="../public/playground_assets/bootloop-300h.png"
      class="place-card-image"
    />
    <div class="place-card-container1">
      <span class="place-card-text"><span>Unknown Project</span></span>
      <span class="place-card-text1">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </span>
      </span>
      <div class="place-card-container2">
        <a href="https://google.ca" class="place-card-button button">
          <span>Play</span>
        </a>
      </div>
    </div>
  </div>
</div>
