<div>
  <link href="./place-card-big.css" rel="stylesheet" />
  <div class="place-card-big-container">
    <div class="place-card-big-container1">
      <img
        alt="image"
        src="../public/playground_assets/template-200h.png"
        class="place-card-big-image"
      />
      <img
        alt="image"
        src="../public/playground_assets/template-200h.png"
        class="place-card-big-image1"
      />
    </div>
    <div class="place-card-big-container2">
      <span class="place-card-big-text"><span>Unknown Project</span></span>
      <span class="place-card-big-text1">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </span>
      </span>
      <a
        href="https://google.ca"
        target="_blank"
        rel="noreferrer noopener"
        class="place-card-big-link button"
      >
        <span>Button</span>
      </a>
    </div>
  </div>
</div>
